body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}
a {
  all: unset;
  width: fit-content;
  cursor: pointer;
  display: contents;
  /* color: #1976D2; */
  /* color: #1976d21b; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

#root {
  width: 100%;
}
/* input::placeholder{
  color:white;
} */
.ck-editor__editable {
  min-height: 200px !important;
  /* min-width: 300px; */
}
.ck-editor__top {
  min-width: 100px !important;
}
input:read-only {
  all: unset;
  width: 100%;
}
/* @media only screen and (max-width: 600px) {
  .ck-editor__top {
  min-width: 300px;
}
}

@media only screen and (min-width: 600px) {
  .ck-editor__top {
  min-width: 500px;
}
}

@media only screen and (min-width: 768px) {
  .ck-editor__top {
  min-width: 600px;
}
}

@media only screen and (min-width: 992px) {
  .ck-editor__top {
  min-width: 800px;
}
}

@media only screen and (min-width: 1200px) {
  .ck-editor__top {
  min-width: 1000px;
}
} */
